<div class="content-section implementation">
    <div class="card">
        <h5>Cadastro de Clientes</h5>



        <div class="p-fluid">
            <div class="p-field">
                <label for="firstname1">Nome completo</label>
                <input [(ngModel)]="dto.nomeCompleto" name="nomeCompleto" type="text" pInputText>
            </div>

            <div class="p-col-12 p-md-6 p-lg-4">
                <span>idade</span>
                <p-inputMask [(ngModel)]="dto.idade" mask="99" placeholder="000"></p-inputMask>
            </div>

            <div class="p-field">
                <label for="lastname1">endereço</label>
                <input [(ngModel)]="dto.endereco" name="endereco" type="text" pInputText>
            </div>

            <div class="p-col-12 p-md-6 p-lg-4">
                <span>Telefone</span>
                <p-inputMask [(ngModel)]="dto.numeroTelefone" mask="99999999" placeholder="0000-0000"></p-inputMask>
            </div>

            <div class="p-col-12 p-md-6 p-lg-4">
                <span>Cpf</span>
                <p-inputMask [(ngModel)]="dto.cpf" mask="999.999.999-99" placeholder="000.000.000-00"></p-inputMask>
            </div>

            <div class="p-grid">
                <div class="p-col-11"></div>
                <button pButton pRipple type="button" label="salvar" class="p-button-rounded"
                    (click)="salvar()"></button>
            </div>
    
        </div>
    </div>
</div>