<p-toast></p-toast>
<div class="content-section implementation">
    <div class="card">
        <h5>{{edicao? 'Alterar' : 'Cadastrar' }} Tipo de Telefone</h5>

        <div class="p-fluid">

            <div class="p-field" class="p-col-12 p-md-6 p-lg-4">
                <label for="firstname1">Tipo de Telefone *</label>
                <input [(ngModel)]="dto.tipo" maxlength="255" name="nomeCompleto" type="text" pInputText>
            </div>


            <div class="p-field" class="p-col-12 p-md-6 p-lg-8">
                <label for="firstname1">Descrição *</label>
                <span class="p-float-label">
                    <textarea [(ngModel)]="dto.descricao" maxlength="255" id="float-input" rows="5" cols="30" pInputTextarea></textarea>
                </span>
            </div>
        </div>

        <div class="p-field p-col-12 p-md-4" style="padding-top: 22px;">
            <div class="p-fluid p-formgrid p-grid ">
                <div class="p-field p-col ">
                    <button (click)="save()" pButton pRipple type="button" label="salvar" class="p-button-rounded"
                        [label]="edicao?'Alterar': 'Salvar'"></button>
                </div>
                <div class="p-field p-col">
                    <button pButton pRipple type="button" label="Voltar" class="p-button-rounded p-button-secondary "
                        (click)="voltar()"></button>
                </div>
            </div>
        </div>

    </div>
</div>