<div class="home">
    <div class="introduction" [ngClass]="{'introduction-dark': config.dark}">
        <span class="introduction-promo">20M+ DOWNLOADS</span>
        <div class="introduction-title">The Ultimate UI Component Library</div>
        <div class="introduction-subtitle">for Angular</div>

        <a class="action-button" [routerLink]="['/setup']">
            GET STARTED
        </a>
        <img alt="devices" class="introduction-devices" src="assets/showcase/images/home/intro-devices.png" />
    </div>


</div>

